/* global styles */
:root {
  --bk-color: #61adeb;
  --md-color: #2971ac;
  --dk-color: #064374;
  --font-heading: "Courgette", cursive;
}
body {
  padding: 0;
  background-color: var(--bk-color);
  color: var(--md-color);
}

a {
  color: var(--dk-color);
}

a:hover {
  color: var(--bk-color);
}

.text-link {
  text-decoration: none;
}

.donate-link {
  color: lightblue;
}

/* header global styling */
nav {
  background-color: rgba(225, 225, 225, 0.6);
  border-radius: 50px;
  width: 90%;
  margin: auto;
}

.sticky-top {
  top: 3vw;
}

.brand-header {
  padding-left: 1vw;
}

#navbarNavDropdown {
  justify-content: flex-end;
}

.navbar-toggler {
  margin-right: 2vw;
}

.header-dropdown {
  padding-left: 3vw;
}

/* footer global styling */
.footer-section {
  height: 50vh;
  background-color: rgba(225, 225, 225, 0.6);
}

.footer-section > .row {
  height: 50vh;
  align-items: center;
  align-content: space-evenly;
}

.footer-section > .row,
.footer-links {
  display: flex;
  justify-content: space-around;
}

.footer-links .nav-link:hover {
  outline: 1px solid var(--bk-color);
}

.footer-games-link {
  display: none;
}

.footer-social-link {
  padding-top: 0;
}

/* hero image global styling */
#home {
  padding: 0;
  position: relative;
  top: calc(-5rem + 1vw);
}

.hero-image {
  object-position: 50% 50%;
  object-fit: cover;
  width: 100%;
  height: 102vh;
}

.greeting-wrapper {
  position: relative;
  top: -20rem;
  padding: 0 5vw;
  background-color: rgba(97, 173, 235, 0.6);
  font-family: var(--font-heading);
  height: 5.75rem;
}

.greeting::before {
  content: "Hear";
  animation: senses infinite 10s;
}

@keyframes senses {
  0% {
    content: "Hear";
  }
  15% {
    content: "Hear the Call of the Wild";
  }
  35% {
    content: "Feel";
  }
  50% {
    content: "Feel Tropical Breeze";
  }
  65% {
    content: "Smell";
  }
  80% {
    content: "Smell Fresh Air";
  }
}

/* about content section styling */
#about {
  background-image: url("../assets/hacktoberfest.jpg");
  background-size: cover;
  background-position-x: right;
  background-color: gray;
  background-blend-mode: multiply;
  color: var(--bk-color);
  position: relative;
  top: -13vh;
  margin: -30vw 0vw -31vw;
}

#about > .row {
  padding: 33vw 5vw;
}

/* donate content section styling */
#donate {
  background-image: url("../assets/bamboo.jpg");
  background-blend-mode: multiply;
  background-color: var(--md-color);
  background-size: cover;
  padding-top: 15vh;
  height: 130vh;
  color: white;
}

/* games content section styling */
#games {
  padding: 20vw 10vw;
}

#games > .row {
  justify-content: space-evenly;
}

.games-card {
  padding-top: 1vw;
  background-color: transparent;
  margin-bottom: 5vw;
}

.games-card > img {
  height: 60%;
}

.card-body-padding {
  padding: 16px 0;
}

.lotus-image {
  border: 1px solid var(--md-color);
}

@media screen and (min-width: 350px) {
  #donate {
    height: 100vh;
  }
}

@media screen and (min-width: 400px) {
  #donate {
    height: 90vh;
  }
}

@media screen and (min-width: 768px) {
  nav {
    width: 70%;
  }
  .footer-section,
  .footer-section > .row {
    height: 20vh;
  }
  .footer-social-link {
    padding-top: 0.5rem;
  }
  .footer-print {
    display: flex;
    flex-direction: column;
  }
  /* about content section styling */
  #about {
    position: relative;
    top: -8vh;
    margin: -11vw 0vw;
  }
  #about > .row {
    padding: 15vw 5vw;
  }
  #donate {
    height: 60vh;
  }
  #games {
    padding: 10vw;
  }
  .games-card {
    width: 48%;
  }
  .games-card > img {
    height: 30vw;
  }
}

@media screen and (min-width: 1024px) {
  /* about content section styling */
  #about {
    position: relative;
    top: -5vh;
  }
  #donate {
    height: 50vh;
  }
  .games-card {
    width: 30%;
  }
  .games-card > img {
    height: 20vw;
  }
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  /* about content section styling */
  #about {
    position: relative;
    top: -13vh;
  }
  #donate {
    height: 100vh;
  }
  .donate-text {
    height: 52vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3vw;
  }
  .trees {
    background-image: url("../assets/trees-birdseye.jpg");
    background-color: var(--bk-color);
    background-blend-mode: multiply;
  }
  .resources {
    background-image: url("../assets/resources.jpg");
    background-size: cover;
    background-position-y: center;
    background-color: var(--bk-color);
    background-blend-mode: multiply;
  }
  .funds {
    background-image: url("../assets/funds.jpg");
    background-size: cover;
    background-color: var(--md-color);
    background-blend-mode: multiply;
  }
  .footer-section,
  .footer-section > .row {
    height: 40vh;
  }
}

@media screen and (min-width: 1200px) {
  .sticky-top {
    top: 1vw;
  }
  #about {
    height: 100vh;
    background-position-y: bottom;
  }
  #about > .row {
    padding: 10vw 5vw;
  }
  .footer-section,
  .footer-section > .row {
    height: 30vh;
  }
  .copyright-text {
    display: flex;
  }
  .footer-print {
    flex-direction: row;
    justify-content: center;
  }
}
